<!doctype html>
<html lang="en" data-layout="vertical" data-layout-mode="dark" data-topbar="dark" data-sidebar="dark"
    data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Sign In | {{web.webTitle}} Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{web.webDescription}}" name="description" />
    <meta content="{{web.webAuthor}}" name="author" />
    <!-- App favicon -->
    {{#ifEquals web.webFavicon "favicon.png"}}
    <link rel="shortcut icon" href="assets/images/logo-sm.png">
    {{/ifEquals}}

    {{#ifNotEquals web.webFavicon "favicon.png"}}
    <link rel="shortcut icon" href="{{web.webFavicon}}">
    {{/ifNotEquals}}


    <!-- Layout config Js -->
    <script src="assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="assets/css/custom.min.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />

</head>

<body>

    <div class="auth-page-wrapper pt-5">
        <!-- auth page bg -->
        <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
            <div class="bg-overlay"></div>

            <div class="shape">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 1440 120">
                    <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
                </svg>
            </div>
        </div>

        <!-- auth page content -->
        <div class="auth-page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-sm-5 mb-4 text-white-50">
                            <div>
                                <a href="/" class="d-inline-block auth-logo">
                                    {{#ifEquals web.webLogo "logo.png"}}
                                        <img src="assets/images/logo-light.png" alt="" height="20">
                                    {{/ifEquals}}

                                    {{#ifNotEquals web.webLogo "logo.png"}}
                                        <img src="{{web.webLogo}}" alt="" height="90">
                                    {{/ifNotEquals}}

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card mt-4">

                            <div class="card-body p-4">
                                <div class="text-center mt-2">
                                    <h5 class="text-primary">Welcome Back !</h5>
                                    <p class="text-muted">Sign in to continue to {{web.webTitle}}.</p>
                                </div>
                                <div class="p-2 mt-4">
                                    <form id="frmLogin" class="needs-validation" method="post" novalidate>
                                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input type="text" class="form-control" required id="username"
                                                name="username" placeholder="Enter username">
                                            <div class="invalid-feedback">
                                                Username Tidak Boleh Kosong
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label" for="password-input">Password</label>
                                            <div class="position-relative auth-pass-inputgroup mb-3">
                                                <input type="password" required class="form-control pe-5 password-input"
                                                    placeholder="Enter password" id="password-input" name="password">
                                                <button
                                                    class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon"
                                                    type="button" id="password-addon"><i
                                                        class="ri-eye-fill align-middle"></i></button>
                                                <div class="invalid-feedback">
                                                    Password Tidak Boleh Kosong
                                                </div>
                                            </div>

                                        </div>

                                        <div class="mt-4">
                                            <div id="btnSubmit"></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- end card body -->
                        </div>
                        <!-- end card -->

                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->

        <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement"
            data-original-class="toast-container position-absolute p-3" data-autohide="true" data-delay="1">
            <div class="toast fade">
                <div class="toast-header">
                    <img src="assets/images/logo-sm.png" class="rounded me-2" alt="..." height="20">
                    <strong class="me-auto">Notifikasi</strong>
                    <small id="toast-status">Error!</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="toast-message" class="toast-body">
                    Hello, world! This is a toast message.
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0 text-muted">&copy;
                                <script>
                                    document.write(new Date().getFullYear())
                                </script> {{web.webTitle}}. Crafted with <i class="mdi mdi-heart text-danger"></i> by {{web.webAuthor}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/feather-icons/feather.min.js"></script>
    <script src="assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="assets/js/plugins.js"></script>

    <!-- particles js -->
    <script src="assets/libs/particles.js/particles.js"></script>
    <!-- particles app js -->
    <script src="assets/js/pages/particles.app.js"></script>
    <!-- password-addon init -->
    <script src="assets/js/pages/password-addon.init.js"></script>

    <script src="assets/libs/sweetalert2/sweetalert2.min.js"></script>

    <script src="assets/js/custom/login.js"></script>
</body>

</html>